@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  box-sizing: border-box;
  font-optical-sizing: auto;
  margin: 0;
  background-color: #000;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  display: none;
}

.header-title {
  font-size: 8.4vw;
  line-height: 90%;
}

@media screen and (min-width: 600px) {
  .header-title {
    font-size: 6.8vw;
    line-height: 90%;
  }
}

@media screen and (min-width: 1000px) {
  .header-title {
    font-size: 4.8vw;
    line-height: 90%;
  }
}

@media screen and (min-width: 1400px) {
  .header-title {
    font-size: 3.8vw;
    line-height: 90%;
  }
}
